:root {
	--my-avatar: url(https://sun9-22.userapi.com/impf/q2MNKLDb8TvcFdxY-9hSUy8k2AryiI5hBSrsVw/ZVlcVrWHOaI.jpg?size=640x640&quality=96&sign=2191ab471b14805c357522a51b5efd64&type=album);
	--rah-avatar: url(https://i.pinimg.com/236x/9d/11/15/9d1115fb70730880ddcd0691b65e1553.jpg);
	--kat-avatar: url(https://sun6-20.userapi.com/s/v1/ig2/aoCsSqWUwehqqqm-eUMHQoEt7jj4xXamV6s2QnMS2lNoWPqTrR9intgl8Bm0toIBrvv_K6gk4BaVOkGjFAwwjc_J.jpg?size=200x200&quality=96&crop=2,195,1393,1393&ava=1);
	--misha-avatar: url(https://cdn1.flamp.ru/e396868c43c333446e9c3502d9fd501d_300_300.jpg);
	--anya-avatar: url(https://sun1-92.userapi.com/s/v1/ig2/ttA3j7TmvxUFqpWM1guW8C54voOD6MbWmL77suMKGTFTh7fzpYhwkI8J-ZLM01JcdzqDMcjmod3aoaC0ahGvxr3W.jpg?size=200x200&quality=96&crop=4,133,807,807&ava=1);
}